[Unit]
Description=BLE Scan Filtered
After=network.target

[Service]
ExecStart=/home/pi/Documents/Python/IndoorLocation/run.sh >> logfile.log
WorkingDirectory=/home/pi/Documents/Python/IndoorLocation
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
